
	:root {
		/* Colors: */
		--primary-color: 148, 0, 10; /* #94000A */
		--secondary-color: 224, 67, 78; /* #E0434E */
		--black-color: 31, 0, 2;

		/*

		Black colors
		From dark to lighter:

		#1F0002: basic;
		#211D1D: buildings, roads, bridges, tunnels;
		#332A2A: parks;
		#4C3F3F: water, borders;

		*/

		/* Fonts: */
		--font-size: 1em;

		/* Spacing: */
		--spacing-unit: .75rem;
	}

/*
====================
		General
====================
*/

	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		font-family: inherit;
		font-weight: inherit;
	}

	html {
		color: #fff;
		font-family: 'montserrat', arial, helvetica, sans-serif;
		font-size: var(--font-size);
		font-weight: 300;
		line-height: 1.4;
	}

	h1 {
		position: absolute;
		z-index: 2;
		left: 0;
		top: 0;
		display: block;
		padding: var(--spacing-unit);
		margin: var(--spacing-unit);
		font-size: 1.5em;
		font-weight: 500;
		text-shadow: 1px 1px 5px rgba(var(--black-color),.8);
	}
	@media all and (min-width: 46.5rem) {
		h1 {
			font-size: 2em;
		}
	}

/*
====================
		Loader
====================
*/

	#loader {
		position: fixed;
		z-index: 2;
		display: none;
		left: calc((100% - 3rem) / 2);
		top: calc((100vh - 3rem) / 2);
		width: 3rem;
	  height: 3rem;
		border: .5rem solid transparent;
	  border-top: .5rem solid #fff;
	  border-radius: 50%;
	  margin: 0 auto;
	  animation: spin 1s linear infinite;
	}
	#loader.show {
		display: block;
	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}

/*
====================
		Maps
====================
*/

	#map {
		z-index: 1;
		width: 100%;
		height: 100vh;
	}

	#map svg path {
		stroke: rgba(255,255,255,.5);
		stroke-width: 5;
	}

	#map svg path.active {
		stroke: rgb(var(--secondary-color));
		stroke-width: 5;
	}

/*
====================
		Options
====================
*/

	.options {
		position: absolute;
		z-index: 2;
		left: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		width: 100%;
		transform: translateY(6.5rem);
		transition: all 1s ease-in-out;
	}
	.options.show {
		transform: translateY(0);
	}

	.options h2 {
		padding: var(--spacing-unit);
		margin: var(--spacing-unit);
		color: #fff;
		font-size: 1.5em;
		font-weight: 500;
		line-height: 1;
		text-shadow: 1px 1px 5px rgba(var(--black-color),.8);
	}

/*
====================
		Search
====================
*/

	.search {
		order: 3;
		position: relative;
		display: block;
		width: 100%;
		min-height: calc(3.125rem + (4 * var(--spacing-unit)));
		padding: var(--spacing-unit);
		background-color: rgb(var(--secondary-color));
	}

	input[name='searchbar'] {
		display: block;
		width: calc(100% - (2 * var(--spacing-unit)));
		max-width: 30rem;
		height: 3.125rem;
		padding: calc((3.125rem - var(--font-size)) / 2);
		border: 0;
		border-left: 5px solid transparent;
		border-radius: 0;
		outline: 0;
		margin: var(--spacing-unit);
		color: rgb(var(--black-color));
		background-color: #fff;
		font-size: var(--font-size);
		line-height: 1;
		transition: all .3s ease-in-out;
	}
	input[name='searchbar']::-webkit-input-placeholder {
		color: rgba(var(--black-color),.5);
	}
	input[name='searchbar']:focus {
		border-left-color: rgb(var(--black-color));
	}

	.autocomplete a {
		display: block;
		width: calc(100% - (2 * var(--spacing-unit)));
		max-width: 30rem;
		height: 3.125rem;
		padding: calc((3.125rem - var(--font-size)) / 2);
		border-left: 5px solid transparent;
		outline: 0;
		margin: var(--spacing-unit);
		color: rgb(var(--black-color));
		background-color: #fff;
		text-decoration: none;
		font-size: var(--font-size);
	}
	.autocomplete a:hover,
	.autocomplete a:active,
	.autocomplete a.autocomplete-active {
		border-left-color: rgb(var(--black-color));
	}

/*
====================
		Timeline
====================
*/

	.timeline--container {
		order: 2;
		display: none;
		width: 100%;
		padding: calc(3 * var(--spacing-unit)) var(--spacing-unit);
		/*background-color: rgba(255,255,255,0);*/
		background-color: rgba(var(--black-color),1);
		
	}
	.timeline--container.show {
		display: block;
	}

	.timeline {
		position: relative;
		display: block;
		width: calc(100% - (2 * var(--spacing-unit)));
		height: 8.5px;
		/*border-bottom: 2px solid rgb(var(--black-color));*/
		border-bottom: 2px solid rgb(var(--secondary-color));
		margin: var(--spacing-unit);
	}

	.timeline > li {
		position: absolute;
		top: 0;
		display: flex;
		width: 15px;
		height: 15px;
		margin: 0 1px;
	}

	.timeline > li a {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		outline: 0;
		background-color: #fff;
		transition: all .3s ease-in-out;
	}
	.timeline > li a:hover,
	.timeline > li a:active,
	.timeline > li a:focus {
		z-index: 1;
		/*background-color: rgb(var(--black-color));*/
		
		background-color: rgba(var(--secondary-color),1);
		transform: scale(1.5, 1.5);
	}

	.timeline > li span {
		position: absolute;
		top: -1.5rem;
		display: block;
		opacity: 0;
		height: 1rem;
		/*color: rgb(var(--black-color));*/
		color: #fff;
		font-family: 'montserrat', sans-serif;
		font-size: .75em;
		font-weight: 300;
		text-shadow: 1px 1px 5px rgba(var(--black-color),.8);
		transition: all .3s ease-in-out;
	}
	.timeline > li:first-child span,
	.timeline > li:last-child span,
	.timeline > li a:hover span,
	.timeline > li a:active span,
	.timeline > li a:focus span {
		opacity: 1;
	}

/*
====================
		Images
====================
*/

	.images--container {
		order: 1;
		display: none;
		flex-wrap: wrap;
		justify-content: flex-end;
		width: 100%;
		height: auto;
		background-color: rgba(var(--black-color),1);
	}
	.images--container.show {
		display: flex;
	}

	.close-btn {
		display: block;
		box-sizing: content-box;
		width: calc(2 * var(--spacing-unit));
		height: calc(2 * var(--spacing-unit));
		padding: calc((3.125rem - (2 * var(--spacing-unit))) / 2);
		border: 0;
		outline: 0;
		margin: 0;
		background-color: transparent;
		cursor: pointer;
	}
	.close-btn:focus,
	.close-btn:hover {
		background-color: rgba(255,255,255,.2);
	}

	.close-btn svg {
		fill: #fff;
	}

	.images--container ul {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
		justify-items: start;
		align-items: start;
		width: 100%;
		height: 100%;
		max-height: calc(100vh - 25rem);
		overflow: scroll;
		padding: var(--spacing-unit);
		padding-top: 0;
	}

	.images--container li {
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		width: calc(100% - (2 * var(--spacing-unit)));
		height: auto;
		margin: var(--spacing-unit);
	}

	.images--container img {
		width: 100%;
		height: auto;
	}
